@import '../../../../assets/styles/abstract/mixins';

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2%;
  row-gap: 2rem;
  width: 100%;

  & > * {
    flex-basis: 31%;
  }

  @include media-tablet {
    & > * {
      flex-basis: 48%;
    }
  }

  @include media-small-tablet {
    & > * {
      flex-basis: 98%;
    }
  }
}
