.input {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: var(--color-background);
  }

  &::placeholder {
    vertical-align: middle;
  }
}

.error {
  color: red;
  height: 3rem;
}
