:root {
  --color-hovered: #01579b;
  --color-background: #06a56c;
  --color-main-background: #f5f5f5;
  --color-text: #f5f5f5;
  --color-disabled: rgba(80, 80, 80, 1);

  --content-width: 70rem;
  --content-width-create: 100rem;
}
