:root {
  --color-hovered: #01579b;
  --color-background: #06a56c;
  --color-main-background: #f5f5f5;
  --color-text: #f5f5f5;
  --color-text-white: rgb(255, 255, 255);
  --color-header-text: rgba(80, 80, 80, 1);
  --color-header-background: rgb(255, 255, 255);
  --color-card-background: rgb(255, 255, 255);
  --color-disabled: rgba(80, 80, 80, 1);

  --content-width: 115rem;
  --content-width-create: 100rem;
}
